* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}

.contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.titulo {
  color: rgb(18, 59, 17);
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

/* Header */
header {
  width: 100%;
  height: 600px;
  background: #000000; /* fallback for old browsers */
  background: -webkitlinear-gradient(
    to right,
    hwb(120 6% 39% / 0.425),
    hsla(0, 0%, 0%, 0.568)
  ), url(../img/Abuelitos.jpg); 
  background: linear-gradient(
    to right,
    hwb(120 6% 39% / 0.425),
    hsla(0, 0%, 0%, 0.568)
  ), url(../img/Abuelitos.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}



nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: #fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenido-textos h3 span{
    background: #3d8b4e;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30%;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}


.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;

}

.conclusion{
    background: #f2f2f2;
}

.conclusion img{
    width: 90%;
    margin: auto;
}

footer{
    background-color: #000000;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor_footer{
    color: #fff;
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content_foo{
    text-align: center;
}

.content_foo h4{
    color: #f2f2f2;
    border-bottom: 3px solid #3d8b4e;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.Titulo_final{
    text-align: center;
    font-size: 25px;
    margin: 20px 0 0 0;
    color: #332e2e;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }
    
    .contenedor_Inicio{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor_Inicio .contenido-textos{
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .contenedor_Inicio img{
        width: 90%;
    }

}

.sobre_mi p{
    margin-left: auto;
}

.sobre_mi img{
    width: 200px; 
    height: auto;
    display: block; 
    margin: auto;
    background: #3d8b4e;
    color: #fff;
    border-radius: 20%;
    
    

}